@font-face {
    font-family: 'IBM';
    src: url(http://localhost:8000/css/fonts/IBMPlexSans-Bold.ttf);
    font-weight: bold;
}

#title {
    font-family: 'IBM';
    font-size: 30px;
}

#auth #card-container {
    max-width: 100%;

}

#auth .card {
    width: 450px;
    max-width: 100%;
    max-height: 94%;
    margin-left: auto;
    margin-right: auto;
}

#auth .btn-primary {
    width: 100%;
    box-shadow: 1px 4px 10px 1px #d1d4d3;
}

#auth .card-login {
    height: 350px;
}

#auth .card-register {
    width: auto;
}

#auth form {
    padding: 4px 4px 0px 4px;
    font-family: 'IBM Plex Sans';
}

#auth p {
    font-size: 0.85em;
}

#auth a {
    font-size: inherit;
}

.row {
    margin: 0px !important;
}